body{
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.box-nav{
    background: gold;
    border-radius: 8px;
    padding: 5px;
}
.box{
    background-color: rgba(0, 0, 0, 0.644);
    padding: 20px;
    border-radius: 8px;
    color: white;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    width: 500px;
    height: 400px;
}
.box2{
    background-color: rgba(0, 0, 0, 0.644);   
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin: auto;
}